.cart_table{
    margin-top: 45px;

    &_total{
        text-align: right;
        font-size: 1.3rem;
        margin-right: 10px;
    }
    button{
        margin-left: 5px;
        margin-right: 5px;
    }
}